.mainContainer {
  padding: 20px;
  position: relative;
}

.topBar {
  position: absolute;
  top: 10px;
  right: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}

.column {
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.cardHeader {
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e5e5e5;

  .windowControls {
    display: flex;
    gap: 8px;

    div {
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }

    .red {
      background-color: #ff5f56;
    }

    .yellow {
      background-color: #ffbd2e;
    }

    .green {
      background-color: #27c93f;
    }
  }
}

.cardBody {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  word-wrap: break-word;
}

.cardFooter {
  padding: 10px;
  text-align: right;
}

.scrollableText {
  max-height: 150px;
  overflow-y: auto;
}

.orangeCard {
  background-color: #ffebcc;
}

.blueCard {
  background-color: #cce5ff;
}

.greenCard {
  background-color: #ceface;
}

.purpleCard {
  background-color: #e5ccff;
}

.comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.commentAvatar {
  margin-right: 10px;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  border: 1px solid #91b4d3;
}

.commentText {
  flex-grow: 1;
}

.commentActions {
  margin-left: auto;
}

.commentVotes {
  margin-left: 10px;
}

.commentDelete {
  margin-left: 10px;
}

.input {
  margin-bottom: 10px;
}

.nextButton {
  position: relative;
  background: rgb(227, 106, 13);
  color: #fff;
  border: none;
}
.nextButton:hover {
  background: rgb(240, 142, 67) !important;
  color: #fff !important;
}

.exportButton,
.resetButton {
  margin-top: 20px;
  margin-right: 10px;
}

@media (max-width: 1200px) {
  .column {
    width: calc(50% - 12px);
  }
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .nextButton {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 20px;
    align-self: flex-end;
  }
}
