.comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.commentAvatar {
  margin-right: 10px;
  width: 74px;
  height: 74px;
}

.commentText {
  flex: 1;
}

.commentActions {
  margin-left: 10px;
}

